/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: white;
}
/* FIM DAS CONFIGURAÇÕES GERAIS */

#box-menu {
    height: 43px;
    display: flex;
    margin: auto;
    align-items: center;
}

#content-menu {
    align-items: center;
    text-align: center;
    display: flex;
    gap: 45px;
    margin-left: 40%;
    color: white;
    flex-direction: row;
    font-weight: 400;
    background: none;
    height: 43px;
    width: 1000px;
    transition: 300ms ease-in-out;
}

#content-menu a {
    transition: 300ms ease-in-out;
}

#content-menu a:hover {
    color: #32aca8;
}

.logo-menu img {
    margin-left: 10px;
    height: 50px;
    width: 50px;
}

/* MENU RESPONSIVO */

@media screen and ( max-width: 600px) {
    header #content-menu {
        margin: auto;
        align-items: center;
        width: 100%;
        margin-left: 0;
        visibility: hidden;
    }
    header #box-menu {
        margin-left: 0;
        align-items: center;
        width: 100%;
        margin: 0;
        visibility: hidden;
    }
    header .logo-menu img {
        margin: auto;
        
        display: flex;
    }
    body {
        margin: auto;
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

/* FIM DO MENU RESPONSIVO */